[Unit]
Description=Temp Sensor Service
After=network.target
StartLimitIntervalSec=0
[Service]
WorkingDirectory=/home/keylimepi/temp_sensor
Type=simple
Restart=always
RestartSec=10
User=keylimepi
ExecStartPre=/usr/bin/git pull origin main
ExecStart=/home/keylimepi/bin/python3 /home/keylimepi/temp_sensor/main.py

[Install]
WantedBy=multi-user.target
