[Unit]
Description=Temp Sensor Service
After=network.target
StartLimitIntervalSec=0
[Service]
WorkingDirectory=/home/keylimepi/projects/temp_sensor
Type=simple
Restart=always
RestartSec=10
User=keylimepi
ExecStart=/bin/bash /home/keylimepi/projects/temp_sensor/startup.sh

[Install]
WantedBy=multi-user.target
